body {
  background-image: url(Images/6790389-forest-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#carousel {
  position: relative;
  left: 690px;
  bottom: 80px;
}

h1 {
  position: relative;
  left: 420px;
  color: yellow;
  font-size: 50px;
  bottom: 95px;
}

#first_name, #last_name, #age, #address, #email {
	height: 20px;
	width: 300px;
  font-size: 16px;
}

#title {
  position: absolute;
  color: darkgreen;
  width: 110px;
  font-size: 20px;
  background: lightblue;
  right: 200px;
}

#inputs {
  position: absolute;
  left: 750px;
  width: 200px;
  bottom: -250px;
}
#quote {
	position: absolute;
  left: 750.5px;
  bottom: -426px;
  font-size: 15px;
}

#box {
  position: relative;
  width: 900px;
  height: 210px;
  text-align: center;
  margin: 0 0 140px 440px;
  color: white;
  font-size: 20px;
  background: black;
  bottom: 100px;
}

#submit {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 90px 0 0 742px;
  font-size: 25px;
}

#contributions {
  position: absolute;
  background: black;
  color: white;
  width: 370px;
  font-size: 30px;
  top: 60px;
}

#counter {
    position: absolute;
    width: 370px;
    height: 50px;
    background: red;
    color: white;
    bottom: -260px;
    font-size: 30px;
    text-align: right;
}

#printquote {
    position: relative;
    width: 370px;
    height: 150px;
    background: #000000;
    color: white;
    background: blue;
    font-size: 20px;
}

#description {
    position: relative;
    width: 370px;
    height: 100px;
    background: green;
    color: white;
    font-size: 50px;
    bottom: 10px;
}

#sidebar {
    position: absolute;
    width: 390px;
    height: 1232px;
    background: green;
    top: 0px;
    left: 0.1px;
}

#quotedesc {
  position: absolute;
    width: 380px;
    height: 40px;
    background: green;
    color: white;
    font-size: 40px;
    bottom: -320px;
}
