body {
margin: 0px;
padding: 0px;
background-color: black;
}

header {
  height: 0%;
  padding-top: 0.01%;
  background-image: url('images/seamless_leaf_pattern_03.jpg');
}

.container {
  margin-top: 20%;
  margin-bottom: 20%;
}

.container #myCarousel {
  background-size: contain;
  width: 430px;
  height: 430px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#main {
  background-color: lightblue;
  padding-bottom: 3%;
  padding-top: 3%;
}

header, footer {
  text-align: center;
  background-color: green;
}

.footer {
  font-size: 400%;
}

.header h1 {
  font-size: 80px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Dancing Script', cursive;
}

#first_name, #last_name, #address, #email, #city, #street, #zip {
  width: 350px;
  font-size: 150%;
}

#age {
  font-size: 150%;
}

#main #inputs {
  margin-top: 5%;
  margin-left: 35%;
  font-family: 'Droid Serif', serif;
}

#main #inputs textarea {
  font-size: 110%;
  width: 350px;
  height: 150px;
}

#main p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: -3%;
  font-size: 150%;
  font-family: 'Droid Serif', serif;
  background-color: yellow;
}

#main #inputs #submit {
  width: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 150%;
  border-radius: 25px;
  line-height: 50%;
  margin-top: 2%;
  font-family: 'Droid Serif', serif;
}

#signers h2 {
  background-color: grey;
  padding-left: 1%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}

#signers {
  background-color: black;
  padding-bottom: 0.5%;
}

#signers p {
  color: white;
  font-size: 120%;
  padding-left: 1%;
}

#newsign h2 {
  background-color: grey;
  padding-left: 1%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}

#newsign {
  background-color: black;
}

#newsign p {
  color: white;
  font-size: 120%;
  padding-left: 1%;
  padding-bottom: 0.5%;
}

#show {
  background-color: red;
  text-align: center;
  padding-top: 0.010%;
  padding-bottom: 0.010%;
  cursor: pointer;
}

@media (max-width: 992px) {
  .item-container {
    height: 100%;
  }
}
